.product-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .product {
    display: flex;
    flex-direction: column;

    img {
      border-radius: 10px;
      width: 320px;
    }

    div {
      font-size: large;
      font-weight: 600;
      padding: 10px 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}